<div class="pickup-artist">
  <div class="page-header">Pick Up Artist</div>
  </div>
  <div class="row">
    <% if rooms.present? %>
      <% rooms.each do |room| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="Artist"><%= room.artist_name %></div>
          <%= image_tag room.image, class: "room-img" if room.image.attached?  %>
          <p><%= room.genre.name %></p>
          <div class="caption">
            <%= link_to 'チャットに参加', join_room_path(room), class: "btn btn-primary", role: "button" %>
            <div id="favorites_buttons_<%= room.id %>" class="favorite">
              <%= render 'favorites/favorite', room: room %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    <% else %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "sample.jpg", class: "room-img" %>
        <div class="caption">
          <h3>好きなアーティストのチャットを作ろう！</h3>
          <%= link_to 'アーティストを投稿する', new_room_path, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "sample.jpg", class: "room-img" %>
        <div class="caption">
          <h3>チャットに参加して皆で語り合おう！</h3>
          <%= link_to 'アーティストを投稿する', new_room_path, class: "btn btn-primary", role: "button" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>