<div class="container-fluid">
  <div class="jumbotron">
    <h1>Arti<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>Cle</h1>
    <p>-Artistの輪を広げよう-</p>
  </div>
</div>

<%# アーティストランキングの表示 %>
<%= render 'shared/ranking_header' %>
<div class="row">
<% if @rock_rank.present? %>
  <div class="ranking">
    <div class="num_one">
      <%= image_tag 'No.1.png' %>
      <span class="one">No.1</span>
    </div>
    <div class="num_two">
      <%= image_tag 'No.2.png' %>
      <span class="two">No.2</span>
    </div>
    <div class="num_three">
      <%= image_tag 'No.3.png' %>
      <span class="three">No.3</span>
    </div>
  </div>
  <% @rock_rank.each do |room| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="Artist"><%= room.artist_name %></div>
        <%= image_tag room.image, class: "room-img" if room.image.attached?  %>
        <p><%= room.genre.name %></p>
        <div class="caption">
          <%= link_to 'チャットに参加', join_room_path(room), class: "btn btn-primary", role: "button" %>
          <div id="favorites_buttons_<%= room.id %>" class="favorite">
            <%= render 'favorites/favorite', room: room %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="ranking">
    <div class="num_one">
      <%= image_tag 'No.1.png' %>
      <span class="one">No.1</span>
    </div>
    <div class="num_two">
      <%= image_tag 'No.2.png' %>
      <span class="two">No.2</span>
    </div>
    <div class="num_three">
      <%= image_tag 'No.3.png' %>
      <span class="three">No.3</span>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="Artist">Aqua Timez</div>
      <%= image_tag "sample.jpg", class: "room-img" %>
      <div class="caption">
        <p>ジャンル名</p>
        <%= link_to 'チャットに参加', '#', class: "btn btn-primary", role: "button" %>
        <%= link_to '', '#', class: "glyphicon glyphicon-heart", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="Artist">SUPER BEAVER</div>
      <%= image_tag "sample.jpg", class: "room-img" %>
      <div class="caption">
        <p>ジャンル名</p>
        <%= link_to 'チャットに参加', '#', class: "btn btn-primary", role: "button" %>
        <%= link_to '', '#', class: "glyphicon glyphicon-heart", role: "button" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="Artist">UVERworld</div>
      <%= image_tag "sample.jpg", class: "room-img" %>
      <div class="caption">
        <p>ジャンル名</p>
        <%= link_to 'チャットに参加', '#', class: "btn btn-primary", role: "button" %>
        <%= link_to '', '#', class: "glyphicon glyphicon-heart", role: "button" %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%# 投稿したアーティストを表示 %>
<div class="pickup-artist">
  <div class="page-header">Pick Up Artist</div>
  <div class="row">
  <% @rooms.each do |room| %>
    <%= render 'shared/artist_list', room: room %>
  <% end %>
  </div>
</div>

<%# ページネーション %>
<%= paginate @rooms %>